@charset "utf-8";

/* 색상반전 */
.bright {
    filter: brightness(10);
}


    /* 공통부분 */
    /* 공통 오른쪽 언어변환*/
    .tr_com_lang {
        position: fixed;
        right: 0px;
        padding: 15px;
        top: 0;
        transition: ease-in-out 0.2s;
        height: 23px;
        line-height: 23px;
        display: flex;
        font-size: 1.6rem;
    }

    .tr_com_lang img {
        width: 23px;
        height: 23px;
        margin-right: 5px;
    }

    .tr_com_lang:hover {
        transition: ease-in-out 0.2s;
        filter: brightness(125%);
    }