@charset "utf-8";

/* 메인 배경 영상 */

.main_vid_wrap::before {
    background-color: rgba(255, 255, 255, 0.7);
}

.title_text {
    color: #6A45D3;
}

.start_text {
    color: #6A45D3;
    background-color: #6b45d32c;
}

.tip_text {
    color: #6A45D3;
}
.lang_chan_btn{
    color: #333;
}
