@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline: none !important;
    
/* 모든 요소에 대해 하이라이트 제거 */
    -webkit-user-select: none; /* 크롬, 사파리, 오페라 */
    -moz-user-select: none;    /* 파이어폭스 */
    -ms-user-select: none;     /* 인터넷 익스플로러/엣지 */
    user-select: none;         /* 표준 */

}


body,
html {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -ms-overflow-style: none;
    font-size: 62.5%;
}




::-webkit-scrollbar {
    display: none;
}

li {
    list-style: none;
    letter-spacing: -0.8px;
    color: #333;
}

a {
    display: block;
    color: #333;
    text-decoration: none;
    letter-spacing: -0.8px;
}

p {
    letter-spacing: -0.8px;
    color: #333;

}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

img {
    border: 0;
}

/* 터치/클릭 효과 */
.ripple {
    background-position: center;
    transition: ease-in-out .3s;
    cursor: pointer;
}

.ripple:active {
    filter: brightness(125%);
    transition: ease-in-out 0s;
    background-size: 100%;
}

/* 2 */
/* 
.ripple {
    background-position: center;
    transition: ease-in-out .2s;
}


.ripple:active {
    filter: brightness(125%);
    transition: ease-in-out 0s;
    background-size: 100%;
} */