@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline: none !important;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -webkit-tap-highlight-color: transparent;
    -ms-overflow-style: none;
    /* font-size: 62.5%; */
}

::-webkit-scrollbar {
    display: none;
}

li {
    list-style: none;
   letter-spacing:  calc(-.25 / 1800 * 100 * var(--unit));
    color: #333;
}

a {
    display: block;
    color: #333;
    text-decoration: none;
   letter-spacing:  calc(-.25 / 1800 * 100 * var(--unit));
}

p {
    letter-spacing:  calc(-.25 / 1800 * 100 * var(--unit));
    color: #333;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

img {
    border: 0;
}

/* 터치/클릭 효과 */
.ripple {
    background-position: center;
    transition: ease-in-out .3s;
    cursor: pointer;
}
.ripple:active {
    filter: brightness(125%);
    transition: ease-in-out 0s;
    background-size: 100%;
}

:root {
    --unit: 1vw;
}

/* 
 화면이 정사각형이거나 세로로 더 긴 경우(예: 스마트폰을 세로로 들었을 때, 또는 태블릿을 세로로 들었을 때) --unit 변수를 1vh로 설정
 */
@media (max-aspect-ratio: 1 / 1) {
    :root {
        --unit: 1vh;
    }
}